body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

.header h2 {
    font-size: 1.2rem;
    color: #ffa500; /* สีส้ม */
    margin-top: 5px;
}

.profile-section, .contact-section, .skills-section, .program-section, .hobbies-section, .education-section {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #006400; /* สีเขียวเข้ม */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 4px 0;
}

.contact-section p, .education-section p {
    margin: 4px 0;
}
